body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  h1 {
      text-align: center;
  }
  
  #container {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    min-width: 960px;
    max-width: 960px;
    min-height: 760px;
    max-height: 760px;
    margin: 25px auto;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.9);
  }

  #resetBtn {
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.9);
	background-color: black;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    text-transform: uppercase;
  }
  
  .grid-item {
    /* padding: 1em; */
    border: 1px solid #ddd;
    text-align: center;
  }

  .hover {
      background-color: gray;
      transition: all .3s ease-out;
  }

#resetBtn:hover {
    background-color:gray;
}
#resetBtn:active {
	position:relative;
	top:1px;
}

#menu {
    text-align: center;
}